- title "#{t('actions.index')} #{t('activerecord.models.user').pluralize}"

- if @users.any?
  %table
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.email
        %td.actions= link_to "Reset password", new_password_path(user)
- else
  No users

%p= link_to t('actions.new', :model => t("activerecord.models.user")), new_user_path
